@model HomeDetailsVm

@{ ViewBag.Title = "Product Details"; }

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Product.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="~/images/noimages.jpg" />

                @*<h4>Product ID : @Model.Product.Id</h4>*@
                <h4>Price : @Model.Product.Price.ToString( "c" )</h4>
                <h4>Short Description : @Model.Product.ShortDescription</h4>
                <h4>Long Description : @Model.Product.LongDescription</h4>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}
